
html, body {
    background-color: initial;
}

.main-content {
    max-width: initial;
    margin: initial;
}

.character-stream-container {
    height: initial;
    padding: initial;
}

.character-stream-profile-container {
    position: initial;
}

.character-stream-profile-picture-portrait {
    height: initial;
}

.character-stream-profile-name {
    position: initial;
    width: initial;
    top: initial;
    left: initial;
    font-size: initial;
    font-family: initial;
    color: initial;
}

.character-stream-profile-picture {
    position: initial;
    height: initial;
    border-radius: initial;
    top: initial;
    left: initial;
    transition: initial;
}

.character-stream-profile-picture-death {
    filter: initial;
}

.character-stream-pe-picture {
    position: initial;
    height: initial;
    bottom: initial;
    left: initial;
}

.character-stream-pe-value {
    position: initial;
    width: initial;
    bottom: initial;
    left: initial;
    color: initial;
    font-family: initial;
    font-size: initial;
    text-align: initial;
    font-weight: initial;
    text-shadow: initial;
}

.character-stream-bar-pv {
    z-index: initial;
    position: initial;
    width: initial;
    height: initial;
    border: initial;
    left: initial;
    bottom: initial;
    display: initial;
    align-items: initial;
    justify-content: initial;
}

.character-stream-bar-san {
    z-index: initial;
    position: initial;
    width: initial;
    height: initial;
    border: initial;
    left: initial;
    bottom: initial;
    display: initial;
    align-items: initial;
    justify-content: initial;
}

.character-stream-bar-pv-background {
    width: initial;
    height: initial;
    background-color: initial;
    display: initial;
    align-items: initial;
}

.character-stream-bar-pv-current {
    width: initial;
    height: initial;
    background-color: initial;
    display: initial;
    align-items: initial;
    transition: initial;
}

.character-stream-bar-san-background {
    width: initial;
    height: initial;
    background-color: initial;
    display: initial;
    align-items: initial;
}

.character-stream-bar-san-current {
    width: initial;
    height: initial;
    background-color: initial;
    display: initial;
    align-items: initial;
    justify-content: initial;
    transition: initial;
}

.character-stream-stats-background-picture {
    position: initial;
    height: initial;
}

.pv-background-picture {
    width: initial;
}

.san-background-picture {
    width: initial;
}

.character-stream-bar-value-pv {
    z-index: initial;
    position: initial;
    width: initial;
    text-align: initial;
    left: initial;
    font-size: initial;
    font-weight: initial;
    text-shadow: initial;
    color: initial;
}

.character-stream-bar-value-san {
    z-index: initial;
    position: initial;
    width: initial;
    text-align: initial;
    left: initial;
    font-size: initial;
    font-weight: initial;
    text-shadow: initial;
    color: initial;
}

.character-stream-dice-roll {
    position: initial;
    bottom: initial;
    left: initial;
}

.character-stream-dice-roll-second {
    position: initial;
    bottom: initial;
    left: initial;
}

.character-stream-dice-roll-picture {
    height: initial;
    position: initial;
}

.character-stream-dice-roll-value {
    position: initial;
    width: initial;
    text-align: initial;
    top: initial;
    left: initial;
    z-index: initial;
    font-size: initial;
    text-shadow: initial;
    -webkit-text-stroke: initial;
    color: initial;
}

.slide-fade-enter-active {
    transition: initial;
}

.slide-fade-leave-active {
    transition: initial;
}

.slide-fade-enter-from, .slide-fade-leave-to {
    transform: initial;
    opacity: initial;
}

.character-stream-profile-picture {
    width: 25rem;
    position: relative;
    height: 25rem;
    object-fit: cover;
    z-index: 0;
}
.character-stream-bar-pv-background {
    position: absolute;
    top: 0.375rem;
    left: 0.375rem;
    border-radius: 100px 100px 150px 10px;
    border: 2.2px solid #fff;
    box-sizing: border-box;
    width: 1rem;
    height: 17.688rem;
    mix-blend-mode: overlay;
}
.character-stream-bar-pv-current::before {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 50px 50px 27px 7px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(213, 44, 44, 0.43), rgba(33, 0, 0, 0.43));
    width: 1rem;
    height: 17.688rem;
    mix-blend-mode: hard-light;
}
.character-stream-bar-pv-current::after {
    position: absolute;
    top: 0rem;
    left: 0rem;
    box-shadow: 0px 8px 12px 6px rgba(255, 255, 255, 0.5), 0px 4px 4px rgba(255, 255, 255, 0.3);
    border-radius: 50px 50px 40px 10px;
    background-color: #fff;
    width: 1rem;
    height: 17.688rem;
    mix-blend-mode: overlay;
}
.character-stream-bar-pv-current {
    position: absolute;
    top: 0.375rem;
    left: 0.375rem;
    width: 1rem;
    height: 17.688rem;
}
.character-stream-bar-pv {
    align-self: stretch;
    position: relative;
    border-radius: 50px 50px 150px 50px;
    background-color: #5f1111;
    height: 18.5rem;
    overflow: hidden;
    flex-shrink: 0;
    mix-blend-mode: normal;
}
@container style(--0448edab: 33%) {
  @container not style(--0448edab: 66%) {

.san-background-picture {
    content:url('https://github.com/sarcopious/portraitrodentia/blob/main/af2.png?raw=true');
    }
  }
}


  .san-background-picture {
    content:url('https://github.com/sarcopious/portraitrodentia/blob/main/af3.png?raw=true');
    width: 1.75rem;
    position: relative;
    height: 100%;
    flex-shrink: 0;
  }

.character-stream-stats-bar-container {
    width: 1.75rem;
    margin: 0 !important;
    position: absolute;
    top: 0.063rem;
    left: 20.75rem;
    border-radius: 100px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.812rem;
    z-index: 1;
}
.character-stream-profile-container {
    width: 21.625rem;
    height: 26.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('https://github.com/sarcopious/portraitrodentia/blob/main/card.png?raw=true');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
.character-stream-container {
    width: 100%;
    position: relative;
    height: 31.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

    .character-stream-profile-picture-portrait, .character-stream-pe-value, .character-stream-pe-picture, .character-stream-profile-name, .character-stream-bar-value-san, .character-stream-profile-name, .character-stream-bar-value-pv{
        display: none;
        height: 0rem
    }

.slide-fade-enter-active {
    transition: all .5s ease-out
}

.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1,.5,.8,1)
}

.slide-fade-enter-from,.slide-fade-leave-to {
    transform: translateY(-80px);
    opacity: 0
}

